body {
    background-image: url(picture/back.jpg);
    background-size: 100%;
    color: white;
    background-repeat: no-repeat;

}
ul {
    list-style: none;
    text-decoration: none;
    font-size: 1.8vw;
    display: flex;
    justify-content: end;
}
li {
    margin: 0 3vw;
}
h1 {
    margin: 0;
    font-size: 2.5vw;
    margin-right: 55vw;
}
p {
margin: 17% 43%;
font-size: 3vw;
}